.App {
    margin: 0 auto;
    max-width: 500px;
    width: 100%; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App>button {
  margin: 20px 20px 0 0;
}
.custom-block {
  margin-top: 40px;
  min-height: 250px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  overflow: auto;
  padding: 10px 20px;
}